{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist Edit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'todo/css/todolist.css' %}">
</head>
<body>
    <div>
        <h1>Hello {{user}} Welcome to TODOLIST </h1>
    </div>
    <br><br>
    <div class="list">
    
        <div class="box">
            <div class="head">
                Get Things Done Yet?
            </div>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <form method="post">
                {% csrf_token %}
                <input type="text" class="input" name="title" required placeholder="Add your today's Task?" value={{obj.title}}>
                <input type="submit" class="button" value="Update Task">
            </form>
    
            {% for todo in res %}
            <div class="toda">
                <h4>{{todo.srno}}</h4>
                <p>{{todo.title}}</p>
                <div class="icons">
                    <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href=""><i class="fa-solid fa-delete-left"></i></a>
                </div>
            </div>
            {% endfor %}
    
        </div>
    </div>
    
</body>
</html>